#body {
	padding: 2vh;
	background: #DDDDDD;
}

.footer > nav {
	margin-bottom: 0px;
	font-size: 32px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.footer > .navbar {
  text-align: center;
}

.well {
	min-height: 77vh;
}

.img-thumbnail {
	margin: 1vh;
}

h1 > a {
	color: black;
}

.row {
	padding: 2vh;
}

.img-border {
	border: 3px;
	border-color: black;
	border-style: solid;
}
