#body {
	padding: 20px;
	background: #DDDDDD;
}

.footer {
	background: #222222;
}

.footer > nav {
	margin-bottom: 0px;
	font-size: 32px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.footer > .navbar {
  text-align: center;
}

.content {
	min-height: 85vh;
}