#body {
	padding: 2vw;
	background: #DDDDDD;
	min-height: 100vh;
}

.footer {
	background: #222222;
}

.footer > nav {
	margin-bottom: 0px;
	font-size: 32px;
	position: absolute;
	bottom: 2vw;
	right: 2vw;
	left: 2vw;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.footer > .navbar {
  text-align: center;
}

/*.content {
	min-height: 85vh;
}*/